body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212529;
    color: white;
}

.parent-wrapper {
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 50px;
}

.child-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.box {
    /* border: 2px solid black; */
    margin: 12px 0px;
    font-size: 25px;
}

.hidden-word-array {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-items: space-around;
}

header {
    margin-top: 5px;
    text-align: center;
}

footer {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    -webkit-animation: rainbow 30s infinite;
}
/* Found a cool way to animate a text with css. 30s is the overall time window and it runs over and over.
the perecents determine when a color change is. Breaks the time window down into percentages. 30s gives
gives a nice slow transition */
@keyframes rainbow {
    0% {
        color: orange;
    }
    10% {
        color: purple;
    }
    20% {
        color: red;
    }
    30% {
        color: CadetBlue;
    }
    40% {
        color: yellow;
    }
    50% {
        color: coral;
    }
    60% {
        color: green;
    }
    70% {
        color: cyan;
    }
    80% {
        color: DeepPink;
    }
    90% {
        color: DodgerBlue;
    }
    100% {
        color: orange;
    }
}

h3 {
    margin-top: 10px;
}

.img-box {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
}

img {
    position: absolute;
    width: 650px;
    height: 650px;
    left: -150px;
    top: -130px;
}