body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212529;
    color: white;
}

.parent-wrapper {
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 50px;
}

.child-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: left;

}

.box {
/* border: 2px solid black; */
margin: 12px 0px;
font-size: 25px;
}

.hidden-word-array {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-items: space-around;
}

header {
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
}

h3 {
    margin-top: 10px;
}

.img-box {
    display:flex;
    
}